:root {
  --bg-color: #FAFAFA;
  --gradient: linear-gradient(225deg, #E844FF, #8739ff);
  --mobile-background: #f5f3f7;
  --message-color: #9341cb;
  --message-background: #eee5f4;
}

/* Variables SASS */
